

body{

font-family: Arial;

margin:0;

background:#f4f6f8;

}

nav{

background:#0d1b2a;

padding:15px;

position:fixed;

width:100%;

top:0;

}

nav a{

color:white;

margin:15px;

text-decoration:none;

font-weight:bold;

}

nav a:hover{

color:#00b4d8;

}

section{

max-width:900px;

margin:120px auto;

background:white;

padding:40px;

border-radius:10px;

box-shadow:0px 5px 15px rgba(0,0,0,0.1);

text-align:center;

}

h1{

color:#0d1b2a;

}

h2{

color:#1b263b;

}

p{

line-height:1.8;

color:#333;

}

footer{

text-align:center;

padding:20px;

background:#0d1b2a;

color:white;

margin-top:50px;

}

